# dependencies
node_modules/

# build outputs
dist/
build/
web-build/
*.tsbuildinfo

# Expo / React Native
.expo/
.expo-shared/
ios/
android/

# env & secrets
.env
.env*.local
*.pem
*.jks
*.p8
*.p12
*.key

# OS / editor
.DS_Store
*.log

# Storybook cache
**/.cache/